html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
  display: flex;
  flex-direction: column;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/******* NAVIGATION BAR STYLE ***********/

.navbar {
  background-color: #002044;

  height: 10vh;
  width: 100vw;

  display: flex;
  justify-content: space-between;
  position: fixed;
  z-index: 1000;
}

/******* LEFT-SECTION NAVIGATION BAR STYLE ***********/

.left-side-nav {
  width: fit-content;

  display: flex;
  justify-content: center;
  align-items: center;
}
.ameneties {
  background-color: white;
  color: #002044;
  font: 400 16px poppins;
  cursor: pointer;

  height: fit-content;
  width: fit-content;
  padding: 8px 22px 8px 22px;
  margin: 12px;

  border: 0px solid;
  border-radius: 15px;

  display: inline-flex;
  align-items: center;
}
.nav-icons {
  margin-right: 8px;
}
.dashboard, .reservations {
  background-color:#002044;
  color: white;
  font: 400 16px poppins;
  cursor: pointer;

  height: fit-content;
  width: fit-content;
  padding: 8px 22px 8px 22px;
  margin: 12px;

  border: 0px solid;
  border-radius: 15px;

  display: inline-flex;
  align-items: center;

  transition: color, background-color, 0.15s;
}

/******* RIGHT-SECTION NAVIGATION BAR STYLE ***********/

.right-side-nav {
  width: 100px;

  display: flex;
  justify-content: center;
  align-items: center;
}
.profile {
  background-color: #002044;
  border: 0 solid black;
  cursor: pointer;
}

.inactive {
  background-color: #002044;
  color: white;
}
.active {
  background-color: white;
  color: #002044;
}

.container {
  margin-top: 10vh;
}

/******* SIDE BAR STYLE ***********/

.sidebar {

  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;

  height: 90vh;
  width: 5vw;

  padding: 2vh 1vw 2vh 1vw;

}
.icon-container {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 95px;
  height: 95px;
}
.icon-container:hover {
  background-color: #ecf0f1;
  border-radius: 10px;
}
.icon-label {
  font: 500 14px poppins;
  color: #002044;
  cursor: pointer;
}
.side-icons {
  color: #002044; 
  font-size: 65px !important;
  margin-top: 8px; 
  cursor: pointer;
}

/*******************  MAIN BODY  *****************************/

.main {
  background-color: #ecf0f1;
  height: 90vh;
  width: 95vw;

  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 45px;

  margin-left: 7vw;
  position: fixed;
}
.label {
  text-align: left;
  font: 700 35px poppins;
  margin-bottom: 18px;
  width: 86vw;
}
.table {
  width: 80vw;
  margin-left: 0;
  margin-right: 100px;
  text-align: center;

  padding: 30px 30px 30px 30px;

}
th {
  font: 700 18px poppins;
  padding: 12px 50px 12px 70px;;
}
td {
  text-align: center;
  border-bottom: 2px solid #ccc;
  border-top: 2px solid #ccc;
  padding: 12px 50px 12px 70px;
  font: 300 18px poppins;
}
.button-wrapper {
  margin-left: 100px;
  display: flex;
  align-items: center;
  gap: 25px;
}
.edit-icon {
  color: #002044;
}
.archive-button {
  border: none;
  background-color: #002044;
  color: white;
  border-radius: 8px;
  font: 300 12px poppins;
  padding: 8px 16px 8px 16px;
}

.add-items-container {
  width: 86vw;
  display: flex;
  align-items: center;
  margin-top: 18px;
  gap: 8px;
}
.add-icon, .add-text {
  color: #002044;
  font: 500 12px poppins;
}

.modal {
  height: 25vh;
  width: 30vw;

  border: none;
  border-radius: 12px;
}
.modal-wrapper {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
.modal-heading {
  font: 700 18px poppins;
}
.modal-text {
  font: 400 16px poppins;
  padding: 6px 30px 12px 30px;
}
.modal-button-wrapper {
  display: flex;
  justify-content: end;
  gap: 10px;

  width: 100%;
}
.cancel-button {
  color: red;
  font: 400 16px poppins;
  border: none;
  background: none;
}
.confirm-button {
  background-color: #002044;
  color: white;
  border: none;
  border-radius: 6px;
  padding: 4px 20px 4px 20px;
  font: 400 16px poppins;
}