* {
  margin: 0;
  padding: 0px;
  box-sizing: border-box;
  position: relative;
  font-family: 'Poppins', sans-serif;
}

body {
  width: 100vw;
  height: 100vh;
  background: linear-gradient(270deg, rgba(249, 255, 223, 0.7) 0%, rgba(42, 100, 104, 0.7) 100%),
              url('/images/Nature.png') no-repeat center center;
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
  background-color: rgba(255, 255, 255, 0.655);
  border-radius: 20px;
  padding: 30px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
  width: 60%;
  text-align: center;
  max-width: 450px;
  max-height: 450px;
}

.title-container {
  text-align: center;
  margin-bottom: 14px;
}

.title {
  font-family: 'Jaldi', sans-serif;
  font-size: 70px;
  font-weight: bold;
  letter-spacing: 0.12em;
  color: #002147;
  text-align: center;    
}

.subtitle {
  font-family: 'Allura', cursive;
  font-size: 25px;
  letter-spacing: 0.12em;
  color: #211f1f;
  margin-top: -30px;
  margin-bottom: 30px;
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  text-align: left;
}

form>div {
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;
}

label {
  font-size: 10px;
  color: #717171;
}

input {
  width: 90%;
  height: 35px;
  border: 1px solid #000000;
  border-radius: 25px;
  padding: 5px;
  font-family: 'Actor', sans-serif; 
  font-size: 14px;
  display: block;
}

input::placeholder {
  color: #717171;
  font-size: 14px;
  justify-content: center;
}
button {
  background-color: #FFD700;
  color: #000;
  border: none;
  border-radius: 30px;
  padding: 5px;
  font-family: 'Actor', sans-serif; 
  font-size: 15px;
  width:90%;
  font-weight: bold;
  cursor: pointer;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin: auto;
  display: block;
}

button:hover {
  background-color: #FFC107;
}

.login-text {
  font-size: 13px;
  margin-top: 10px;
}

.login-link {
  color: #004E97;
  font-weight: bold;
  text-decoration: none;
}

.login-link:hover {
  text-decoration: underline;
  color: #003E80;
}

.error-messages {
  color: red;
  font-size: 14px;
  margin-bottom: 10px;
}

.error-message {
  color: red;
  font-size: 12px;
}

